@font-face {
    font-family: 'Gravity';
    src: url('../fonts/Gravity-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gravity';
    src: url('../fonts/Gravity-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
